.idea/
.project
.settings/
.vscode/
node/
node_modules/
package-lock.json
target/
dist/
out/
catan-doc/modules/architecture/.DS_Store
catan-doc/modules/architecture/pages/.DS_Store
catan-doc/modules/composants/.DS_Store
catan-doc/modules/composants/pages/.DS_Store
catan-doc/modules/conception/.DS_Store
catan-doc/modules/conception/.DS_Store
catan-server/src/main/java/fr/univnantes/alma/ServerImplementation/.DS_Store
catan-server/src/main/java/fr/univnantes/alma/.DS_Store
catan-server/src/main/java/fr/univnantes/.DS_Store
catan-server/src/main/java/fr/.DS_Store
catan-server/src/main/java/.DS_Store
catan-server/src/main/.DS_Store
catan-server/src/.DS_Store
catan-server/.DS_Store
.DS_Store
.DS_Store
catan-web/.angular/*
