.idea/
.project
.settings/
.vscode/
node/
node_modules/
package-lock.json
target/
dist/
out/
catan-doc/modules/architecture/.DS_Store
catan-doc/modules/architecture/pages/.DS_Store
catan-doc/modules/composants/.DS_Store
catan-doc/modules/composants/pages/.DS_Store
catan-doc/modules/conception/.DS_Store
catan-doc/modules/conception/.DS_Store
