<div id="playeractionsview">
    <p>playeractionsview works!</p>
    <button type="button">
        Trade with player
    </button>
    <button type="button">
        Trade with bank
    </button>
    <button type="button">
        Build settlement
    </button>
    <button type="button">
        Build city
    </button>
    <button type="button">
        Create road
    </button>
    <button type="button">
        Buy development card
    </button>
    <button type="button">
        End turn
    </button>
</div>
