<p>playerview works!</p>
<div><span>wood: </span>{{resources.wood}}</div>
<div><span>stone: </span>{{resources.stone}}</div>
<div><span>brick: </span>{{resources.brick}}</div>
<div><span>wool: </span>{{resources.wool}}</div>
<div><span>wheat: </span>{{resources.wheat}}</div>
<div><span>knights: </span>{{resources.knights}}</div>
<div><span>victory points: </span>{{resources.victory_points}}</div>
<div><span>roads: </span>{{resources.roads}}</div>
<div><span>settlements: </span>{{resources.settlements}}</div>
<div><span>cities: </span>{{resources.cities}}</div>
