#ocean{
  background-color: #3AACF3;
  height: calc(6*100px*2)
}

.hexagon {
margin-left: calc(4px*2);
margin-right: calc(4px*2);
width: calc(100px*2);
height: calc(57.735px*2);
position: relative;
}


.paille{
border-color: yellow;
background-color: yellow;
}

.stone{
border-color: gray;
background-color: gray;
}

.wood{
border-color: #966F33;
background-color: #966F33;
}

.brick{
border-color: brown;
background-color: brown;
}

.whool{
border-color: white;
background-color: white;
}

.desert{
border-color: beige;
background-color: beige;
}

.circle {
width: calc(20px*2);
height: calc(20px*2);
border-radius: calc(20px*2);
background: dimgray;
z-index: 500;
}

.circle:hover {
  background: rgb(255, 0, 0);
}

.etage{
height: calc(86.6025px*2);
}

.tile{
  position: relative;
}

.vertex5{
position: absolute;
top: 100%;
left: -10%;
}

.vertex6{
position: absolute;
top: 25%;
left: -10%;
}

.centerOnDiv{
margin-left: 50%;
margin-top: 50%;
}